form * {
	margin: 5px;
	width: 30%;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#create-account-button, #create-product {
	color: black;
	background-color: #A4B465;
	border-radius: 10px;
}