form * {
	margin: 5px;
	width: 30%;
}

form {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Add to frontend/src/styles/create-product.css or create.css */
#create-product-page {
	margin-left: 220px;
	/* 200px sidebar + 20px sidebar padding */
}

#create-account-button,
#create-product {
	color: black;
	background-color: #A4B465;
	border-radius: 10px;
}