h1 {
  white-space: nowrap;
padding: 170px 0 20px;
}

form * {
	margin: 5px;
	width: 100%;
}

form {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #b2c17688;
	border-radius: 10px;
	padding: 30px;
	align-items: center;
}
form input, select, textarea{
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Add to frontend/src/styles/create-product.css or create.css */
#create-product-page {
	max-width: 1200px;      
  	margin: 0 auto;         
  	padding: 170px 20px 80px;
  	box-sizing: border-box;
	animation: fadeIn 0.3s ease-in-out;
}

#create-account-button,
#create-product {
	color: black;
	background-color: #f0f2ab;
	border-radius: 10px;
	border: olive;
}

.custom-alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}
