#footer {
	width: 100%;
	height: 55px;
	display: flex;
	background-color: #095a5d;
	color: #fdfcfb;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	justify-content: center;
}

#footer p {
	margin: auto;
	size: 10px;
	color: white;
}