#home-content {
	margin: auto;
	width: 80%;
}

#home-content h1 {
	font-size: 40px;
}

#login,
#create-account,
#shop {
	display: block;
	width: 200px;
	padding: 5px;
	height: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	color: #f1fbdd
}

#shop {
	background-color: #a4b462;
}

#login {
	/* color: #dadada; */
	background-color: #1e1e1e;
}

#create-account {
	/* margin: 10px; */
	background-color: #b17e5a;
	/* color: #5f5f5e; */
	height: 100%;

}