/* .main-content {
	display: flex;
	justify-content: center;
	align-items: center;
} */

#login-form {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4px;
	border: 1px solid red;
}

#login-form form {
	width: 50%;
	left: 0;
	padding: 2px;
}

.create-account-link {}