nav a {
	/* display: flex; */
	padding-left: 55px;
	padding-right: 55px;
	height: 100%;
	text-decoration: none;
}

#create-wallet {
	display: flex;
	background-color: #b0cd9d;
	color: #404d3a;
	height: 100%;
	justify-content: center;
	align-items: center;

}

#main-nav {
	background-color: #eef2ba;
	color: #71705b;
	display: flex;
	flex-direction: row;
	height: 50px;
	justify-content: center;
	align-items: center
}