#shop-container h1 {
white-space: nowrap;
padding: 170px 0 20px;
}
#shop {
	display: flex;
	flex-wrap: wrap;
	/*the products will go down if there are too much tho :))))*/
	flex-direction: row;
	justify-content: center;
	background: none;
	gap: 10px;
	display: grid;
  	grid-template-columns: repeat(4, 1fr); /* force maximum 4 columns per row */
  	padding: 10px;
}

#nav-bar {
	display: flex;
}



@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#shop-container {
	max-width: 1200px;      /* Giới hạn chiều rộng nội dung */
  	margin: 0 auto;         /* Căn giữa */
  	padding: 150px 20px 80px;/* Padding: trên - ngang - dưới */
  	box-sizing: border-box;
	animation: fadeIn 0.3s ease-in-out;
}

.product {
	display: flex;
    flex-direction: column;
    background-color: #4c362b;
    color: white;
    margin: 6px;
    width: 250px;
    height: auto;
    justify-content: space-between; 
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: left; 
}

.product * {
	display: block;
	object-fit: contain;
	/* background-color: black;
	color: white; */
}

.product img {
	width: 100%;
	height: 200px;
	/* object-fit: contain; */
	max-height: 200px;
	display: block;
	object-fit: cover;
	border-radius: 10px;
	/* background-color: black; */
}

/*please help me w the price, details and description on our product
why are those css can not be applied :<<< */
.product .detail {
	position: absolute;
	padding: 8px 15px;
	background-color: #e1cda4;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
	align-items: right;
}

.product .name {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
	color: #9eb88a;
}

.product .price {
	font-size: 2.5em;
	font-weight: bold;
	color: #e8e7e2;
	text-align: left;
	margin: 10px 0;
}

/*for the search*/
#search {
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #785e5e;
	border-radius: 10px;
	margin-bottom: 12px;
}

.search-categories {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap;
}
#myInput:focus {
	outline: none;
	border-color: #9eb88a;
	box-shadow: 0 0 5px rgba(158, 184, 138, 0.5);
}
/* the cancel and buy buttons */
.product button {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
	align-items: center;
}

#cancel{
	background-color: #d9866f;
    color: white;
}
#cancel:hover {
	background-color: #c76a5b;
}
#buy {
	background-color: #B2CD9C;
    color: black;
}
#buy:hover {
	background-color: #A4B465;
}

h3 {
white-space: nowrap;
padding: 60px 0 20px;
}