#sidebar {
	width: 200px;
	position: fixed;
	left: 0;
	top: 55px;
	bottom: 55px;
	background-color: #B2CD9C;
	padding: 20px;
	overflow-y: auto;
	word-wrap: break-word;
}

#sidebar p {
	margin-bottom: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*when the options too long it will write ...*/
}

#sidebar p:hover {
	overflow: visible;
	white-space: normal;
	background-color: #9eb88a;
}